<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="/public/style.css">
                <link rel="stylesheet" href="/public/css/bootstrap.min.css">
                <link rel="stylesheet" href="/public/css/bootstrap-grid.min.css">
       </head>
              
<body>
<html>
    <h1> Thank you! </h1>
    <body>
            <script src="/public/js/bootstrap.bundle.min.js"></script>
             <script src="/public/js/bootstrap.min.js"></script>
             <table align="center">
             <tr><th>Username</th><th> </th><th>Feedback </th><th>&nbsp;</th></tr>
            
           
       </table>
    </body>
</html>
</body>
</html>